.selectable-button {
	padding: 0.75rem;
	text-align: left;
	border-radius: var(--border-radius);
	border: 1px solid #e5e7eb;
	background-color: #f9fafb;
	color: #4b5563;
	transition: all 0.15s ease-in-out;
}

.selectable-button:hover {
	background-color: #f3f4f6;
	cursor: pointer;
}

.selectable-button--selected {
	background-color: #fef2f2;
	border-color: var(--btn-primary-hover);
	color: var(--btn-primary-hover);
	font-weight: 700;
	box-shadow: 0 0 0 1px var(--btn-primary-hover);
}
