.menu-panel {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 18rem;
	background-color: var(--navbar-background);
	z-index: 50;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
	transform: translateX(100%);
	transition: transform 300ms ease-in-out;
}

.menu-panel--open {
	transform: translateX(0);
}
