.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color: var(--navbar-background);
	color: white;
}

.navbar__brand {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar__title {
	font-size: 1.5rem;
	font-weight: 700;
}

.navbar__logo {
	height: 64px;
	width: auto;
	display: block;
}
